<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
		integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<div th:replace="fragments/links :: cssLink"></div>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">


	<title>Add Meter</title>


	<style>
		.select2-container .select2-selection--single {
			height: 40px !important;

		}

		.select2-container--default .select2-selection--single {
			border: 1px solid #ccc !important;
			border-radius: 0px !important;
		}

		#sidebar ul li {
			color: white;
			display: block;
		}

		.form-label {
			font-family: 'New', Courier;
			font-size: 1.1em;
			font-weight: 300;
			line-height: 1.7em;
			color: midnightblue;
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

</head>

<body>
	<div class="wrapper">
		<span th:remove="tag" th:utext="${dataHtml}"></span>
		<div class="container-fluid mw-100 py-2 h-100">
			<div th:replace="fragments/sidebar :: header"></div>
			<!--Start First Part -->
			<div class="card text-center">
				<fieldset class="form-group text-left border p-3">
					<legend class="w-auto px-2">Details</legend>
					<form th:action="@{/ADD_METER}" method="post" th:object="${addMeterModel}">
						<div class="row  text-black">
							<label class="form-label col-lg-2" for="REF_NO">REF NO
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="REF_NO" th:value="*{REF_NO}" id="REF_NO"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="REF_DATE"><strong>REF DATE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="date" name="REF_DATE" th:value="*{REF_DATE}" id="REF_DATE"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<div class="col-lg-4 "></div>

							<label class="form-label col-lg-2" for="CONSUMER_NUM"><strong>CONS. NO</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="number" maxlength="7" name="CONSUMER_NUM" onchange="locationFunction()"
										th:value="*{CONSUMER_NUM}" id="CONSUMER_NUM"
										onkeyup="moveCursor(this, 'CHECK_DIGIT')"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="CHECK_DIGIT"><strong>CHK DIGIT</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										type="number" maxlength="1" name="CHECK_DIGIT" th:value="*{CHECK_DIGIT}"
										id="CHECK_DIGIT" onchange="locationFunction()"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="CONSUMER_NUM"><strong>CONS. NAME</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="CUSTOMER_NAME" id="CUSTOMER_NAME"
										class="form-control form-control-lg" />
								</div>
							</div>

							<label class="form-label col-lg-2" for="LOCATION_CODE"><strong>LOCATION</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="LOCATION_CODE" th:value="*{LOCATION_CODE}"
										id="LOCATION_CODE" class="form-control form-control-lg" />
								</div>
							</div>


							<label class="form-label col-lg-2" for="BILL_GR"><strong>BILL GRP</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="BILL_GR" th:value="*{BILL_GR}" id="BILL_GR"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="BOOK_NO"><strong>BOOK</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="BOOK_NO" th:value="*{BOOK_NO}" id="BOOK_NO"
										class="form-control form-control-lg" />
								</div>
							</div>





							<input type="hidden" name="CUST_ID" th:value="*{CUST_ID}" id="CUST_ID" />
							<label class="form-label col-lg-2" for="EFF_BILL_CYCLE_CODE"><strong>EFF BILL CYCLE</strong>
								&nbsp</label>
							<div class="col-lg-2 " id="effBill">
								<div class="input-group ">
									<select name="EFF_BILL_CYCLE_CODE" id="EFF_BILL_CYCLE_CODE"
										class="form-control fcs search_select_box select_supplyType">
										<option value="0">Please select</option>
										<option th:each="l : ${eff_BILL_CYCLE_CODE}" th:value="${l.BILL_CYCLE_CODE}"
											th:text="${l.BILL_CYCLE_CODE}"></option>
									</select>
								</div>
							</div>


							<div class="col-lg-2 " id="effBillt" style="display: none;">
								<div class="input-group">
									<input type="text" name="EFF_BILL_CYCLE_CODE_UPDATE" id="EFF_BILL_CYCLE_CODEt"
										class="form-control  form-control-lg" />
								</div>
							</div>

							<input type="hidden" name="ADJ_FLAG" th:value="*{ADJ_FLAG}" id="ADJ_FLAG" />
							<input readonly type="hidden" name="ENL_BILL_CYCLE_CODE" th:value="*{ENL_BILL_CYCLE_CODE}"
								id="ENL_BILL_CYCLE_CODE" />

							<input type="hidden" name="NET_CUST_NUM" th:value="*{NET_CUST_NUM}" id="NET_CUST_NUM" />
							<input type="hidden" name="NET_CONS_NAME" th:value="*{NET_CONS_NAME}" id="NET_CONS_NAME" />
							<input readonly type="hidden" name="NET_CUST_CHECK_DIGIT" th:value="*{NET_CUST_CHECK_DIGIT}"
								id="NET_CUST_CHECK_DIGIT" />
							<input readonly type="hidden" name="NET_CUST_ID" th:value="*{NET_CUST_ID}"
								id="NET_CUST_ID" />

							<label class="form-label col-lg-2" for="EXP_BILL_CYCLE"><strong>EXP BILL CYCLE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" readonly name="EXP_BILL_CYCLE" th:value="*{EXP_BILL_CYCLE}"
										id="EXP_BILL_CYCLE" class="form-control  form-control-lg" />
								</div>
							</div>
							<div class="col-lg-4 "></div>
							<label class="form-label col-lg-2" for="NET_CAPACITY"><strong>NET METER CAPACITY</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										type="number" maxlength="3" name="NET_CAPACITY" id="NET_CAPACITY"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_METER_DIGIT"><strong>NET METER DIGIT</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										type="number" maxlength="1" name="NET_METER_DIGIT" id="NET_METER_DIGIT"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_METER_OMF"><strong>NET METER OMF</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										type="number" maxlength="6" name="NET_METER_OMF" id="NET_METER_OMF"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="SOLAR_GRID_TYPE"><strong>Solar Grid Type</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<select class="form-select" name="SOLAR_GRID_TYPE" id="SOLAR_GRID_TYPE" required
									aria-label="Default select example">

									<option value="1" selected>ON Grid</option>
									<option value="2">OFF Grid</option>
								</select>
							</div>
							<label class="form-label col-lg-2" for="NO_OF_PANELS"><strong>Number of Panels</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="number" id="NO_OF_PANELS"
										placeholder="Pc" name="NO_OF_PANELS" />

								</div>
							</div>
							<label class="form-label col-lg-2" for="PANEL_LENGTH"><strong>Panel Length</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="number" id="PANEL_LENGTH"
										placeholder="feet/meter" name="PANEL_LENGTH" />
									<select class="form-select col-lg-1" required name="PANEL_LENGTH_TYPE" id="PANEL_LENGTH_TYPE"
										aria-label="Default select example">
										<option selected value="M">Meter</option>
										<option value="F">Feet</option>
									</select>
								</div>

							</div>

							<label class="form-label col-lg-2" for="PANEL_WIDTH"><strong>Panel Width</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="number" id="PANEL_WIDTH"
										placeholder="feet/meter" name="PANEL_WIDTH" />
									<select name="PANEL_WIDTH_TYPE" required class="form-select col-lg-1" id="PANEL_WIDTH_TYPE"
										aria-label="Default select example">
										<option selected value="M">Meter</option>
										<option value="F">Feet</option>
									</select>
								</div>
							</div>
							<label class="form-label col-lg-2" required for="WATT_PK_PANEL"><strong>Watt peak per Panel</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="number" id="WATT_PK_PANEL"
										placeholder="WP" name="WATT_PK_PANEL" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="TOTAL_SOLAR_LOAD"><strong>Total Solar
									Load(Watt)</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="number" id="TOTAL_SOLAR_LOAD"
										placeholder="Watt" name="TOTAL_SOLAR_LOAD" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="SOLAR_METER_NUM"><strong>Solar Meter Number</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="text" id="SOLAR_METER_NUM"
										placeholder="(if any)" name="SOLAR_METER_NUM" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="IMAGE_SYSTEM"><strong>Image of Solar
									System</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="file" id="IMAGE_SYSTEM" name="IMAGE_SYSTEM" accept="image/*">
								</div>
							</div>
							<label class="form-label col-lg-2" for="INVERTER_CAPACITY"><strong>Inverter
									Capacity</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input class="form-control fcs form-control-lg" required type="text" id="INVERTER_CAPACITY"
										placeholder="KW" name="INVERTER_CAPACITY" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="INVERTER_PHASE"><strong>Inverter phase</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<select class="form-select" name="INVERTER_PHASE" required id="INVERTER_PHASE" aria-label="Default select example">
									<option selected value="1">Single phase</option>
									<option value="3">Three phase</option>
								</select>
							</div>
							<label class="form-label col-lg-2" for="INVERTER_STATUS"><strong>Inverter Status</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<select class="form-select" name="INVERTER_STATUS" aria-label="Default select example">
									<option selected value="0">select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<div class="col-sm-4"></div>
							<label class="form-label col-lg-2" for="REMARKS"><strong>REMARKS</strong>
								&nbsp</label>
							<div class="col-lg-10 ">
								<div class="input-group">
									<textarea class="form-control fcs" name="REMARKS" th:value="*{REMARKS}" id="REMARKS"
										rows="3"></textarea>

								</div>
							</div>
							<div class="alert alert-success mt-1 col-sm-12 text-center" th:text="${msg}" th:if="${msg}"
								role="alert"></div>

							<div class="col-12  text-center">

								<button type="submit" id="SaveButton"
									class="btn col-12  mt-3 btn-success ">Save</button>

							</div>

					</form>

				</fieldset>

				<div class="card-header mb-3" style="color: green; background-color: paleturquoise;"><strong>Data
						Table</strong></div>


				<table id="datatable" class="table table-striped table-bordered" style="width:100%">

					<thead>
						<tr>
							<th>REF NO</th>
							<th>REF DATE</th>
							<th>LOCATION CODE</th>
							<th>AREA CODE</th>
							<th>CONSUMER NUM</th>
							<th>EFF BILL CYCLE CODE</th>
							<th>NET METER DIGIT</th>
							<th>NET METER OMF</th>
							<th>EXP BILL CYCLE</th>
							<th>NET METER CAPACITY</th>
							<th>CONS. NAME</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="list,iterStatus : ${addMeterModelList}">
							<td><input type="hidden" th:id="'REF_NO_'+${iterStatus.index}" th:text="${list.REF_NO}"
									name="REF_NO" th:value="${list.REF_NO}"></input></td>
							<td><input type="hidden" th:id="'REF_DATE_'+${iterStatus.index}" th:text="${list.REF_DATE}"
									name="REF_DATE" th:value="${list.REF_DATE}"></input></td>
							<td><input type="hidden" th:id="'LOCATION_CODE_'+${iterStatus.index}"
									th:text="${list.LOCATION_CODE}" name="LOCATION_CODE"
									th:value="${list.LOCATION_CODE}"></input></td>
							<td th:text="${list.BOOK_NO} + '' + ${list.BILL_GR}"></td>
							<td><input type="hidden" th:id="'CONSUMER_NUM_'+${iterStatus.index}"
									th:text="${list.CONSUMER_NUM}" name="CONSUMER_NUM"
									th:value="${list.CONSUMER_NUM}"></input></td>
							<td><input type="hidden" th:id="'EFF_BILL_CYCLE_CODE_'+${iterStatus.index}"
									th:text="${list.EFF_BILL_CYCLE_CODE}" name="EFF_BILL_CYCLE_CODE"
									th:value="${list.EFF_BILL_CYCLE_CODE}"></input></td>
							<td><input type="hidden" th:id="'NET_METER_DIGIT_'+${iterStatus.index}"
									th:text="${list.NET_METER_DIGIT}" name="NET_METER_DIGIT"
									th:value="${list.NET_METER_DIGIT}"></input></td>
							<td><input type="hidden" th:id="'NET_METER_OMF_'+${iterStatus.index}"
									th:text="${list.NET_METER_OMF}" name="NET_METER_OMF;
" th:value="${list.NET_METER_OMF}"></input></td>
							<td><input type="hidden" th:id="'EXP_BILL_CYCLE_'+${iterStatus.index}"
									th:text="${list.EXP_BILL_CYCLE}" name="EXP_BILL_CYCLE"
									th:value="${list.EXP_BILL_CYCLE}"></input></td>
							<td><input type="hidden" th:id="'NET_CAPACITY_'+${iterStatus.index}"
									th:text="${list.NET_CAPACITY}" name="NET_CAPACITY"
									th:value="${list.NET_CAPACITY}"></input></td>
							<td><input type="hidden" th:id="'CUSTOMER_NAME_'+${iterStatus.index}"
									th:text="${list.CUSTOMER_NAME}" name="CUSTOMER_NAME"
									th:value="${list.CUSTOMER_NAME}"></input></td>
							<td><a th:onclick="'updateById('+${iterStatus.index}+')'" id="updateButton"
									class="btn btn-primary  text-right" target="_blank">Update</a><br>
							</td>
							<input type="hidden" th:id="'REMARKS_'+${iterStatus.index}" name="REMARKS"
								th:value="${list.REMARKS}"></input>
							<input type="hidden" th:id="'BILL_GR_'+${iterStatus.index}" name="BILL_GR"
								th:value="${list.BILL_GR}"></input>
							<input type="hidden" th:id="'BOOK_NO_'+${iterStatus.index}" name="BOOK_NO"
								th:value="${list.BOOK_NO}"></input>
							<input type="hidden" th:id="'CHECK_DIGIT_'+${iterStatus.index}" name="CHECK_DIGIT"
								th:value="${list.CHECK_DIGIT}"></input>




							<input type="hidden" th:id="'SOLAR_GRID_TYPE_'+${iterStatus.index}" name="SOLAR_GRID_TYPE"
								th:value="${list.SOLAR_GRID_TYPE}"></input>
							<input type="hidden" th:id="'NO_OF_PANELS_'+${iterStatus.index}" name="NO_OF_PANELS"
								th:value="${list.NO_OF_PANELS}"></input>
							<input type="hidden" th:id="'PANEL_LENGTH_'+${iterStatus.index}" name="PANEL_LENGTH"
								th:value="${list.PANEL_LENGTH}"></input>
							<input type="hidden" th:id="'PANEL_LENGTH_TYPE_'+${iterStatus.index}"
								name="PANEL_LENGTH_TYPE" th:value="${list.PANEL_LENGTH_TYPE}"></input>
							<input type="hidden" th:id="'PANEL_WIDTH_'+${iterStatus.index}" name="PANEL_WIDTH"
								th:value="${list.PANEL_WIDTH}"></input>
							<input type="hidden" th:id="'PANEL_WIDTH_TYPE_'+${iterStatus.index}" name="PANEL_WIDTH_TYPE"
								th:value="${list.PANEL_WIDTH_TYPE}"></input>
							<input type="hidden" th:id="'WATT_PK_PANEL_'+${iterStatus.index}" name="WATT_PK_PANEL"
								th:value="${list.WATT_PK_PANEL}"></input>
							<input type="hidden" th:id="'TOTAL_SOLAR_LOAD_'+${iterStatus.index}" name="TOTAL_SOLAR_LOAD"
								th:value="${list.TOTAL_SOLAR_LOAD}"></input>
							<input type="hidden" th:id="'SOLAR_METER_NUM_'+${iterStatus.index}" name="SOLAR_METER_NUM"
								th:value="${list.SOLAR_METER_NUM}"></input>
							<input type="hidden" th:id="'INVERTER_CAPACITY_'+${iterStatus.index}"
								name="INVERTER_CAPACITY" th:value="${list.INVERTER_CAPACITY}"></input>
							<input type="hidden" th:id="'INVERTER_PHASE_'+${iterStatus.index}" name="INVERTER_PHASE"
								th:value="${list.INVERTER_PHASE}"></input>
							<input type="hidden" th:id="'INVERTER_STATUS_'+${iterStatus.index}" name="INVERTER_STATUS"
								th:value="${list.INVERTER_STATUS}"></input>


















							<input type="hidden" th:id="'CUST_ID_'+${iterStatus.index}" name="CUST_ID"
								th:value="${list.CUST_ID}"></input>
							<input type="hidden" th:id="'ADJ_FLAG_'+${iterStatus.index}" name="ADJ_FLAG"
								th:value="${list.ADJ_FLAG}"></input>
							<input type="hidden" th:id="'ENL_BILL_CYCLE_CODE_'+${iterStatus.index}"
								name="ENL_BILL_CYCLE_CODE" th:value="${list.ENL_BILL_CYCLE_CODE}"></input>
							<input type="hidden" th:id="'NET_CUST_CHECK_DIGIT_'+${iterStatus.index}"
								name="NET_CUST_CHECK_DIGIT" th:value="${list.NET_CUST_CHECK_DIGIT}"></input>
							<input type="hidden" th:id="'NET_CUST_ID_'+${iterStatus.index}" name="NET_CUST_ID"
								th:value="${list.NET_CUST_ID}"></input>


						</tr>



					</tbody>

				</table>






			</div>
		</div>
	</div>
	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>
	<script>
		$('#EFF_BILL_CYCLE_CODE').select2();
	</script>
	<script>
		function updateById(id) {
			var ref_NO = document.getElementById('REF_NO_' + id).value;
			var ref_DATE = document.getElementById('REF_DATE_' + id).value;
			var location_CODE = document.getElementById('LOCATION_CODE_' + id).value;
			var consumer_NUM = document.getElementById('CONSUMER_NUM_' + id).value;
			var eff_BILL_CYCLE_CODE = document.getElementById('EFF_BILL_CYCLE_CODE_' + id).value;


			var exp_BILL_CYCLE = document.getElementById('EXP_BILL_CYCLE_' + id).value;
			var net_CAPACITY = document.getElementById('NET_CAPACITY_' + id).value;
			var remarks = document.getElementById('REMARKS_' + id).value;
			var bill_GR = document.getElementById('BILL_GR_' + id).value;
			var book_NO = document.getElementById('BOOK_NO_' + id).value;
			var check_DIGIT = document.getElementById('CHECK_DIGIT_' + id).value;
			var cust_ID = document.getElementById('CUST_ID_' + id).value;
			var adj_FLAG = document.getElementById('ADJ_FLAG_' + id).value;
			var enl_BILL_CYCLE_CODE = document.getElementById('ENL_BILL_CYCLE_CODE_' + id).value;

			var exp_BILL_CYCLE = document.getElementById('EXP_BILL_CYCLE_' + id).value;
			var net_METER_DIGIT = document.getElementById('NET_METER_DIGIT_' + id).value;
			var customer_NAME = document.getElementById('CUSTOMER_NAME_' + id).value;
			var net_METER_OMF = document.getElementById('NET_METER_OMF_' + id).value;
			var no_OF_PANELS = document.getElementById('NO_OF_PANELS_' + id).value;
			var panel_LENGTH = document.getElementById('PANEL_LENGTH_' + id).value;
			var panel_LENGTH_TYPE = document.getElementById('PANEL_LENGTH_TYPE_' + id).value;
			var panel_WIDTH = document.getElementById('PANEL_WIDTH_' + id).value;
			var panel_WIDTH_TYPE = document.getElementById('PANEL_WIDTH_TYPE_' + id).value;
			var watt_PK_PANEL = document.getElementById('WATT_PK_PANEL_' + id).value;
			var total_SOLAR_LOAD = document.getElementById('TOTAL_SOLAR_LOAD_' + id).value;
			var solar_METER_NUM = document.getElementById('SOLAR_METER_NUM_' + id).value;
			var inverter_CAPACITY = document.getElementById('INVERTER_CAPACITY_' + id).value;
			var inverter_PHASE = document.getElementById('INVERTER_PHASE_' + id).value;
			var inverter_STATUS = document.getElementById('INVERTER_STATUS_' + id).value;
			var solar_GRID_TYPE = document.getElementById('SOLAR_GRID_TYPE_' + id).value;





			document.getElementById("REF_NO").value = ref_NO;
			document.getElementById("REF_DATE").value = ref_DATE;
			document.getElementById("CONSUMER_NUM").value = consumer_NUM;
			document.getElementById("REMARKS").value = remarks;
			document.getElementById("EFF_BILL_CYCLE_CODEt").value = eff_BILL_CYCLE_CODE;
			document.getElementById("LOCATION_CODE").value = location_CODE;
			document.getElementById("BILL_GR").value = bill_GR;
			document.getElementById("BOOK_NO").value = book_NO;
			document.getElementById("CHECK_DIGIT").value = check_DIGIT;
			document.getElementById("CUST_ID").value = cust_ID;
			document.getElementById("ADJ_FLAG").value = adj_FLAG;
			document.getElementById("ENL_BILL_CYCLE_CODE").value = enl_BILL_CYCLE_CODE;
			document.getElementById("NET_METER_DIGIT").value = net_METER_DIGIT;
			document.getElementById("NET_METER_OMF").value = net_METER_OMF;

			document.getElementById("EXP_BILL_CYCLE").value = exp_BILL_CYCLE;
			document.getElementById("NET_CAPACITY").value = net_CAPACITY;
			document.getElementById("CUSTOMER_NAME").value = customer_NAME;
			document.getElementById("NO_OF_PANELS").value = no_OF_PANELS;
			document.getElementById("PANEL_LENGTH").value = panel_LENGTH;
			document.getElementById("PANEL_WIDTH").value = panel_WIDTH;
			document.getElementById("WATT_PK_PANEL").value = watt_PK_PANEL;
			document.getElementById("TOTAL_SOLAR_LOAD").value = total_SOLAR_LOAD;
			document.getElementById("SOLAR_METER_NUM").value = solar_METER_NUM;
			document.getElementById("INVERTER_CAPACITY").value = inverter_CAPACITY;
			$("#SOLAR_GRID_TYPE option[value='" + solar_GRID_TYPE + "']").prop("selected", "selected");
			$("#PANEL_LENGTH_TYPE option[value='" + panel_LENGTH_TYPE + "']").prop("selected", "selected");
			$("#PANEL_WIDTH_TYPE option[value='" + panel_WIDTH_TYPE + "']").prop("selected", "selected");
			$("#INVERTER_PHASE option[value='" + inverter_PHASE + "']").prop("selected", "selected");


			//var button = document.getElementById('SaveButton');
			//button.innerHTML = "Update";
			//button.style.background = "#429bf5";

			//var x = document.getElementById('REF_DATE');
			//x.setAttribute("type", "text");
			$("#effBill").hide();
			$("#effBillt").show();




			$("#REF_NO").prop("readonly", false);
			$("#REF_DATE").prop("readonly", false);
			$("#CONSUMER_NUM").prop("readonly", true);
			$("#REMARKS").prop("readonly", false);
			$("#LOCATION_CODE").prop("readonly", true);
			$("#BILL_GR").prop("readonly", true);
			$("#BOOK_NO").prop("readonly", true);
			$("#CHECK_DIGIT").prop("readonly", true);
			$("#CUST_ID").prop("readonly", true);
			$("#ADJ_FLAG").prop("readonly", true);
			$("#ENL_BILL_CYCLE_CODE").prop("readonly", true);
			$("#NET_METER_OMF").prop("readonly", false);
			$("#NET_METER_DIGIT").prop("readonly", false);

			$("#NET_CAPACITY").prop("readonly", false);
			$("#EXP_BILL_CYCLE").prop("readonly", true);

			$(window).scrollTop(0);


		}

	</script>

	<script>

		function locationFunction() {
			var s = $("#CONSUMER_NUM").val();
			var y = $("#CHECK_DIGIT").val();
			var x = s.concat(y);
			console.log(x);
			var url = "/api/locationAddMeter/" + x;
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const LOCATION_CODE = JsonData.location_CODE;
					const BILL_GR = JsonData.bill_GR;
					const BOOK_NO = JsonData.book_NO;
					const CHECK_DIGIT = JsonData.check_DIGIT;
					const CUST_ID = JsonData.cust_ID;
					const CUSTOMER_NAME = JsonData.customer_NAME;
					console.log(CUST_ID);
					document.getElementById("LOCATION_CODE").value = LOCATION_CODE;
					document.getElementById("BILL_GR").value = BILL_GR;
					document.getElementById("BOOK_NO").value = BOOK_NO;
					document.getElementById("CUST_ID").value = CUST_ID;
					document.getElementById("CUSTOMER_NAME").value = CUSTOMER_NAME;
				});
		}
	</script>



	<script>
		$(document).ready(function () {
			$("#EFF_BILL_CYCLE_CODE").change(function () {
				var str = $("#EFF_BILL_CYCLE_CODE").val();
				document.getElementById("ENL_BILL_CYCLE_CODE").value = str;
			});
		});
	</script>



	<script src=https://code.jquery.com/jquery-3.6.0.slim.min.js></script>
	<script src="../../../../js/jquery.fcs.js"></script>
	<script src="../../../../js/jquery.fcs.min.js"></script>
	<script>

		jQuery(document).ready(function ($) {
			$("#SaveButton").focus();
			$(document).fcs(".fcs");
		});
	</script>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
		integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript">
		$('#datatable').DataTable({
			responsive: true
		});
	</script>
	<!--<script>
	var input = document.getElementById('REMARKS').value;
			// Execute a function when the user presses a key on the keyboard
			input.addEventListener("keypress", function (event) {
				// If the user presses the "Enter" key on the keyboard
				if (event.key === "Enter") {
					// Cancel the default action, if needed
				console.log('Hello World!');
				}
			});
	</script>-->

	<script>

		function moveCursor(fromTextBox, toTextBox) {



			var length = fromTextBox.value.length;
			var maxLength = fromTextBox.getAttribute("maxLength");
			if (length == maxLength || id == 'REMARKS') {
				document.getElementById(toTextBox).focus();
			}
		}

	</script>


</body>

</html>