<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
		integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<div th:replace="fragments/links :: cssLink"></div>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">


	<title>Add Meter</title>


	<style>
		.select2-container .select2-selection--single {
			height: 40px !important;

		}

		.select2-container--default .select2-selection--single {
			border: 1px solid #ccc !important;
			border-radius: 0px !important;
		}

		#sidebar ul li {
			color: white;
			display: block;
		}

		.form-label {
			font-family: 'New', Courier;
			font-size: 1.1em;
			font-weight: 300;
			line-height: 1.7em;
			color: midnightblue;
		}
	</style>

</head>

<body>
	<div class="wrapper">
		<span th:remove="tag" th:utext="${dataHtml}"></span>
		<div class="container-fluid mw-100 py-2 h-100">
			<div th:replace="fragments/sidebar :: header"></div>
			<!--Start First Part -->
			<div class="card text-center">
				<fieldset class="form-group text-left border p-3">
					<legend class="w-auto px-2">Details</legend>
					<form th:action="@{/ADD_METER}" method="post" th:object="${addMeterModel}">
						<div class="row  text-black">
							<label class="form-label col-lg-2" for="REF_NO">REF NO
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="REF_NO" th:value="*{REF_NO}" id="REF_NO"
										class="form-control  form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="REF_DATE"><strong>REF_DATE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="date" name="REF_DATE" th:value="*{REF_DATE}" id="REF_DATE"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="CONSUMER_NUM"><strong>CONS. NO</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="CONSUMER_NUM" th:value="*{CONSUMER_NUM}" id="CONSUMER_NUM"
										class="form-control form-control-lg" />
								</div>
							</div>

							<label class="form-label col-lg-2" for="LOCATION_CODE"><strong>LOCATION</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="LOCATION_CODE" th:value="*{LOCATION_CODE}"
										id="LOCATION_CODE" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="BILL_GR"><strong>BILL GRP</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="BILL_GR" th:value="*{BILL_GR}" id="BILL_GR"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="BOOK_NO"><strong>BOOK</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="BOOK_NO" th:value="*{BOOK_NO}" id="BOOK_NO"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="CHECK_DIGIT"><strong>CHK DIGIT</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="CHECK_DIGIT" th:value="*{CHECK_DIGIT}"
										id="CHECK_DIGIT" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="CUST_ID"><strong>CUST ID</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="CUST_ID" th:value="*{CUST_ID}" id="CUST_ID"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="EFF_BILL_CYCLE_CODE"><strong>EFF BILL CYCLE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="EFF_BILL_CYCLE_CODE" th:value="*{EFF_BILL_CYCLE_CODE}"
										id="EFF_BILL_CYCLE_CODE" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="REMARKS"><strong>REMARKS</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="REMARKS" th:value="*{REMARKS}" id="REMARKS"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="ADJ_FLAG"><strong>ADJ FLAG</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="number" name="ADJ_FLAG" th:value="*{ADJ_FLAG}" id="ADJ_FLAG"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="ENL_BILL_CYCLE_CODE"><strong>ENL BILL CYCLE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="ENL_BILL_CYCLE_CODE"
										th:value="*{ENL_BILL_CYCLE_CODE}" id="ENL_BILL_CYCLE_CODE"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_CUST_NUM"><strong>NET CONS NO</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="NET_CUST_NUM" th:value="*{NET_CUST_NUM}" id="NET_CUST_NUM"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_CONS_NAME"><strong>NET CONS NAME</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="NET_CONS_NAME" th:value="*{NET_CONS_NAME}"
										id="NET_CONS_NAME" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_CUST_CHECK_DIGIT"><strong>NET CHK DIGIT</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="NET_CUST_CHECK_DIGIT"
										th:value="*{NET_CUST_CHECK_DIGIT}" id="NET_CUST_CHECK_DIGIT"
										class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_CUST_ID"><strong>NET CUST ID</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input readonly type="text" name="NET_CUST_ID" th:value="*{NET_CUST_ID}"
										id="NET_CUST_ID" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="EXP_BILL_CYCLE"><strong>EXP BILL CYCLE</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="text" name="EXP_BILL_CYCLE" th:value="*{EXP_BILL_CYCLE}"
										id="EXP_BILL_CYCLE" class="form-control form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="NET_CAPACITY"><strong>NET CAPACITY</strong>
								&nbsp</label>
							<div class="col-lg-2 ">
								<div class="input-group">
									<input type="number" name="NET_CAPACITY" th:value="*{NET_CAPACITY}"
										id="NET_CAPACITY" class="form-control form-control-lg" />
								</div>
							</div>
							<div class="col-12  text-center">

								<button type="submit" id="SaveButton" class="btn col-12 mt-3 btn-success">Save</button>

							</div>
							<div class="alert alert-success mt-1 col-sm-12 text-center" th:text="${msg}" th:if="${msg}"
								role="alert"></div>

					</form>
				</fieldset>
				<div class="card-header mb-3" style="color: green; background-color: paleturquoise;"><strong>Data
						Table</strong></div>


				<table id="datatable" class="table table-striped table-bordered" style="width:100%">

					<thead>
						<tr>
							<th>REF NO</th>
							<th>REF DATE</th>
							<th>LOCATION CODE</th>
							<th>AREA CODE</th>
							<th>CONSUMER NUM</th>
							<th>EFF BILL CYCLE CODE</th>
							<th>NET CONS NAME</th>
							<th>NET CUST NUM</th>
							<th>EXP BILL CYCLE</th>
							<th>NET CAPACITY</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="list,iterStatus : ${addMeterModelList}">
							<td><input type="hidden" th:id="'REF_NO_'+${iterStatus.index}" th:text="${list.REF_NO}"
									name="REF_NO" th:value="${list.REF_NO}"></input></td>
							<td><input type="hidden" th:id="'REF_DATE_'+${iterStatus.index}" th:text="${list.REF_DATE}"
									name="REF_DATE" th:value="${list.REF_DATE}"></input></td>
							<td><input type="hidden" th:id="'LOCATION_CODE_'+${iterStatus.index}"
									th:text="${list.LOCATION_CODE}" name="LOCATION_CODE"
									th:value="${list.LOCATION_CODE}"></input></td>
							<td th:text="${list.BOOK_NO} + '' + ${list.BILL_GR}"></td>
							<td><input type="hidden" th:id="'CONSUMER_NUM_'+${iterStatus.index}"
									th:text="${list.CONSUMER_NUM}" name="CONSUMER_NUM"
									th:value="${list.CONSUMER_NUM}"></input></td>
							<td><input type="hidden" th:id="'EFF_BILL_CYCLE_CODE_'+${iterStatus.index}"
									th:text="${list.EFF_BILL_CYCLE_CODE}" name="EFF_BILL_CYCLE_CODE"
									th:value="${list.EFF_BILL_CYCLE_CODE}"></input></td>
							<td><input type="hidden" th:id="'NET_CONS_NAME_'+${iterStatus.index}"
									th:text="${list.NET_CONS_NAME}" name="NET_CONS_NAME"
									th:value="${list.NET_CONS_NAME}"></input></td>
							<td><input type="hidden" th:id="'NET_CUST_NUM_'+${iterStatus.index}"
									th:text="${list.NET_CUST_NUM}" name="NET_CUST_NUM"
									th:value="${list.NET_CUST_NUM}"></input></td>
							<td><input type="hidden" th:id="'EXP_BILL_CYCLE_'+${iterStatus.index}"
									th:text="${list.EXP_BILL_CYCLE}" name="EXP_BILL_CYCLE"
									th:value="${list.EXP_BILL_CYCLE}"></input></td>
							<td><input type="hidden" th:id="'NET_CAPACITY_'+${iterStatus.index}"
									th:text="${list.NET_CAPACITY}" name="NET_CAPACITY"
									th:value="${list.NET_CAPACITY}"></input></td>
							<td><a th:onclick="'updateById('+${iterStatus.index}+')'" id="updateButton"
									class="btn btn-primary  text-right" target="_blank">Update</a><br>

							</td>


							<input type="hidden" th:id="'REMARKS_'+${iterStatus.index}" name="REMARKS"
								th:value="${list.REMARKS}"></input>
							<input type="hidden" th:id="'BILL_GR_'+${iterStatus.index}" name="BILL_GR"
								th:value="${list.BILL_GR}"></input>
							<input type="hidden" th:id="'BOOK_NO_'+${iterStatus.index}" name="BOOK_NO"
								th:value="${list.BOOK_NO}"></input>
							<input type="hidden" th:id="'CHECK_DIGIT_'+${iterStatus.index}" name="CHECK_DIGIT"
								th:value="${list.CHECK_DIGIT}"></input>
							<input type="hidden" th:id="'CUST_ID_'+${iterStatus.index}" name="CUST_ID"
								th:value="${list.CUST_ID}"></input>
							<input type="hidden" th:id="'ADJ_FLAG_'+${iterStatus.index}" name="ADJ_FLAG"
								th:value="${list.ADJ_FLAG}"></input>
							<input type="hidden" th:id="'ENL_BILL_CYCLE_CODE_'+${iterStatus.index}"
								name="ENL_BILL_CYCLE_CODE" th:value="${list.ENL_BILL_CYCLE_CODE}"></input>
							<input type="hidden" th:id="'NET_CUST_CHECK_DIGIT_'+${iterStatus.index}"
								name="NET_CUST_CHECK_DIGIT" th:value="${list.NET_CUST_CHECK_DIGIT}"></input>
							<input type="hidden" th:id="'NET_CUST_ID_'+${iterStatus.index}" name="NET_CUST_ID"
								th:value="${list.NET_CUST_ID}"></input>


						</tr>



					</tbody>

				</table>






			</div>
		</div>
	</div>
	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>
	<script>
		$('.search_select_box_location').select2();
	</script>
	<script>

		$("#CONSUMER_NUM").change(function () {
			var x = $("#CONSUMER_NUM").val();
			var url = "/api/locationAddMeter/" + x;
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const LOCATION_CODE = JsonData.location_CODE;
					const BILL_GR = JsonData.bill_GR;
					const BOOK_NO = JsonData.book_NO;
					const CHECK_DIGIT = JsonData.check_DIGIT;
					const CUST_ID = JsonData.cust_ID;
					document.getElementById("LOCATION_CODE").value = LOCATION_CODE;
					document.getElementById("BILL_GR").value = BILL_GR;
					document.getElementById("BOOK_NO").value = BOOK_NO;
					document.getElementById("CHECK_DIGIT").value = CHECK_DIGIT;
					document.getElementById("CUST_ID").value = CUST_ID;
				});
		});
	</script>
	<script>

		$("#NET_CUST_NUM").change(function () {
			var x = $("#NET_CUST_NUM").val();
			var url = "/api/locationAddMeterNet/" + x;
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const NET_CONS_NAME = JsonData.net_CONS_NAME;

					const CHECK_DIGIT = JsonData.check_DIGIT;
					const CUST_ID = JsonData.cust_ID;
					document.getElementById("NET_CONS_NAME").value = NET_CONS_NAME;
					document.getElementById("NET_CUST_CHECK_DIGIT").value = CHECK_DIGIT;
					document.getElementById("NET_CUST_ID").value = CUST_ID;
				});
		});
	</script>
	<script>
		$(document).ready(function () {
			$("#EFF_BILL_CYCLE_CODE").change(function () {
				var str = $("#EFF_BILL_CYCLE_CODE").val();
				document.getElementById("ENL_BILL_CYCLE_CODE").value = str;
			});
		});
	</script>

	<script>
		function updateById(id) {
			var ref_NO = document.getElementById('REF_NO_' + id).value;
			var ref_DATE = document.getElementById('REF_DATE_' + id).value;
			var location_CODE = document.getElementById('LOCATION_CODE_' + id).value;
			var consumer_NUM = document.getElementById('CONSUMER_NUM_' + id).value;
			var eff_BILL_CYCLE_CODE = document.getElementById('EFF_BILL_CYCLE_CODE_' + id).value;
			var net_CONS_NAME = document.getElementById('NET_CONS_NAME_' + id).value;
			var net_CUST_NUM = document.getElementById('NET_CUST_NUM_' + id).value;
			var exp_BILL_CYCLE = document.getElementById('EXP_BILL_CYCLE_' + id).value;
			var net_CAPACITY = document.getElementById('NET_CAPACITY_' + id).value;
			var remarks = document.getElementById('REMARKS_' + id).value;
			var bill_GR = document.getElementById('BILL_GR_' + id).value;
			var book_NO = document.getElementById('BOOK_NO_' + id).value;
			var check_DIGIT = document.getElementById('CHECK_DIGIT_' + id).value;
			var cust_ID = document.getElementById('CUST_ID_' + id).value;
			var adj_FLAG = document.getElementById('ADJ_FLAG_' + id).value;
			var enl_BILL_CYCLE_CODE = document.getElementById('ENL_BILL_CYCLE_CODE_' + id).value;
			var net_CUST_NUM = document.getElementById('NET_CUST_NUM_' + id).value;
			var net_CUST_CHECK_DIGIT = document.getElementById('NET_CUST_CHECK_DIGIT_' + id).value;
			var net_CUST_ID = document.getElementById('NET_CUST_ID_' + id).value;
			var net_CONS_NAME = document.getElementById('NET_CONS_NAME_' + id).value;
			var exp_BILL_CYCLE = document.getElementById('EXP_BILL_CYCLE_' + id).value;
			var net_CAPACITY = document.getElementById('NET_CAPACITY_' + id).value;



			document.getElementById("REF_NO").value = ref_NO;
			document.getElementById("REF_DATE").value = ref_DATE;
			document.getElementById("CONSUMER_NUM").value = consumer_NUM;
			document.getElementById("REMARKS").value = remarks;
			document.getElementById("EFF_BILL_CYCLE_CODE").value = eff_BILL_CYCLE_CODE;
			document.getElementById("LOCATION_CODE").value = location_CODE;
			document.getElementById("BILL_GR").value = bill_GR;
			document.getElementById("BOOK_NO").value = book_NO;
			document.getElementById("CHECK_DIGIT").value = check_DIGIT;
			document.getElementById("CUST_ID").value = cust_ID;
			document.getElementById("ADJ_FLAG").value = adj_FLAG;
			document.getElementById("ENL_BILL_CYCLE_CODE").value = enl_BILL_CYCLE_CODE;
			document.getElementById("NET_CUST_NUM").value = net_CUST_NUM;
			document.getElementById("NET_CUST_CHECK_DIGIT").value = net_CUST_CHECK_DIGIT;
			document.getElementById("NET_CUST_ID").value = net_CUST_ID;
			document.getElementById("NET_CONS_NAME").value = net_CONS_NAME;
			document.getElementById("EXP_BILL_CYCLE").value = exp_BILL_CYCLE;
			document.getElementById("NET_CAPACITY").value = net_CAPACITY;

			var button = document.getElementById('SaveButton');
			button.innerHTML = "Update";
			button.style.background = "#429bf5";
			
			var x= document.getElementById('REF_DATE');			
			x.setAttribute("type", "text");

			

		
			$("#REF_NO").prop("readonly", true);
			$("#REF_DATE").prop("readonly", true);
			$("#CONSUMER_NUM").prop("readonly", true);
			$("#REMARKS").prop("readonly", true);
			$("#EFF_BILL_CYCLE_CODE").prop("readonly", true);
			$("#LOCATION_CODE").prop("readonly", true);
			$("#BILL_GR").prop("readonly", true);
			$("#BOOK_NO").prop("readonly", true);
			$("#CHECK_DIGIT").prop("readonly", true);
			$("#CUST_ID").prop("readonly", true);
			$("#ADJ_FLAG").prop("readonly", true);
			$("#ENL_BILL_CYCLE_CODE").prop("readonly", true);
			$("#NET_CUST_NUM").prop("readonly", true);
			$("#NET_CUST_CHECK_DIGIT").prop("readonly", true);
			$("#NET_CUST_ID").prop("readonly", true);
			$("#NET_CONS_NAME").prop("readonly", true);
			$("#NET_CAPACITY").prop("readonly", true);
			
			$(window).scrollTop(0);


		}

	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
		integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript">
		$('#datatable').DataTable({
			responsive: true
		});
	</script>

</body>

</html>