<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<div th:replace="fragments/links :: cssLink"></div>
	

	<title>CensusForm</title>

	<style>
		.search_select_box select {
			width: 100%;
		}
	</style>


</head>

<body>

	 <div class="container-fluid mw-100 py-2 h-100">

        <!--Start First Part -->

        <div class="card text-center">
	
			
								<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Consumer Census Entry(BC_CONSCEN)</h3>


								<div class="row  text-black">
									<div class="col-md-3 mb-4 ">
						<div class="input-group search_select_box">
									<label for="supplyType"><strong>Supply Type</strong> &nbsp</label>


										<select name="select_box" style="width:auto;" class="form-select input-group search_select_box"
											id="select_box" aria-label="">
											<option selected>select Location</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
									</div>
									</div>
									<div class="col-md-2 mb-2">

										<div class="input-group">
										<label for="supplyType"><strong>Zone</strong> &nbsp</label>
											<input type="text" id="zone" readonly
												class="form-control form-control-lg" />
										</div>

									</div>
									
									<div class="col-md-2 mb-4">

										<div class="input-group">
										

										<label class="form-label" for="circle"><strong>Circle</strong> &nbsp</label>

											<input type="text" id="circle" readonly
												class="form-control  form-control-lg" />
										</div>

									</div>

									<div class="col-md-2 mb-4">


										<div class="input-group">
										<label class="form-label" for="Div"><strong>Div</strong> &nbsp</label>

											<input type="text" id="Div" readonly class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-3 mb-4">

										<div class="input-group">
										<label class="form-label" for="sub_div"><strong>Sub Div</strong> &nbsp</label>
											<input type="text" id="sub_div" readonly
												class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-2 mb-4">

										<div class="input-group">
										<label class="form-label" for="book_no"><strong>Book No</strong> &nbsp</label>
											<input type="text" id="book_no" class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-2 mb-4">

										<div class="input-group">
										<label class="form-label" for="billGrp"><strong>BillGrp</strong> &nbsp</label>
											<input type="text" id="billGrp" readonly
												class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group search_select_box">
										<label for="supplyType"><strong>Cons. Source</strong> &nbsp</label>
											
											<select name="select_box_location" style="width:auto;" class="form-select input-group search_select_box_location"
											id="select_box_location" aria-label="">
											<option selected>select Location</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group">
										<label class="form-label" for="walkOrder"><strong>Walk. Order</strong> &nbsp</label>
										
											<input type="text" id="walkOrder" class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group">
										<label class="form-label" for="conSrlNo"><strong>ConSrl No.</strong> &nbsp</label>
											<input type="text" id="conSrlNo" class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group">
										
											<label for="supplyType"><strong>Govt. Flat</strong> &nbsp</label>
											<select class="form-select" aria-label="Default select example">
												<option value="0" selected>No</option>
												<option value="1">Yes</option>

											</select>
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group">
										<label class="form-label" for="oldAcNo"><strong>Old A/C No.</strong> &nbsp</label>
											<input type="text" id="oldAcNo" class="form-control form-control-lg" />
											
										</div>

									</div>
									<div class="col-md-4 mb-4">

										<div class="input-group">
										<label class="form-label" for="computerConsNo"><strong>Computer Cons No.</strong> &nbsp</label>
											<input type="text" id="computerConsNo" readonly
												class="form-control form-control-lg" />
										</div>

									</div>






								</div>




								<div class="row  text-black">
									<h3 class="mb-4 col-md-12 pb-2 pb-md-0 mb-md-5">Coustomer Details</h3>
									<div class="col-md-12 mb-4">

										<div class="input-group">
										<label class="form-label" for="coustomerName"><strong>Coustomer Name</strong> &nbsp</label>
											<input type="text" id="coustomerName"
												class="form-control form-control-lg" />
										</div>

									</div>
									<div class="col-md-12 mb-4">

										<div class="input-group">
										<label class="form-label" for="fatherHusband"><strong>Father/Husband Name:</strong> &nbsp</label>
											<input type="text" id="fatherHusband"
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="serviceAddress"><strong>Service Address:</strong> &nbsp</label>
											<input type="text" id="serviceAddress"
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="mailingAddress"><strong> Address</strong> &nbsp</label>
											<input type="text" id="mailingAddress"
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="city"><strong>City</strong> &nbsp</label>
											<input type="text" id="city" class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="cityReadOnly"><strong>City</strong>  &nbsp</label>
											<input type="text" id="cityReadOnly" readonly
												class="form-control form-control-lg" />
											
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="postalCodeReadOnly"><strong>Postal code</strong> &nbsp</label>
											<input type="text" id="postalCodeReadOnly" readonly
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="postalCode"><strong>Postal code</strong> &nbsp</label>
											<input type="text" id="postalCode" class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="BankCode(1)"><strong>Bank Code(1) </strong> &nbsp</label>
											<input type="text" id="BankCode(1)" class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-3 mb-4">

										<div class="input-group">
										<label class="form-label" for="BankCode(2)"><strong>Bank Code(2)</strong> &nbsp</label>
											<input type="text" id="BankCode(2)" class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-3 mb-4">

										<div class="input-group">
										<label class="form-label" for="branchCode(1)"><strong>Branch Code(1)</strong> &nbsp</label>
											<input type="text" id="branchCode(1)"
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-6 mb-4">

										<div class="input-group">
										<label class="form-label" for="branchCode(2)"><strong>Branch Code(2):</strong> &nbsp</label>
											<input type="text" id="branchCode(2)"
												class="form-control form-control-lg" />
										</div>
									</div>
									<div class="col-md-3 mb-4">

										<button type="button" class="btn btn-primary"
											th:onclick="|window.location.href='/meterDetailsForm'|">Meter
											Details>></button>
									</div>

									<div class="col-md-3 mb-4">

										<button type="button" class="btn btn-primary"
											th:onclick="|window.location.href='/distribution'|">Distribution>></button>
									</div>
									<div class="col-md-3 mb-4">

										<button type="button" class="btn btn-primary"
											th:onclick="|window.location.href='/logout'|">Logout>></button>
									</div>
								</div>
        </div>
	 </div>
	 

							
					
				
			
		

	


	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>
	<script>

		var select_box_element = document.querySelector('#select_box');

		dselect(select_box_element, {
			search: true
		});
		
		var search_select_box_location = document.querySelector('#select_box_location');

		dselect(search_select_box_location, {
			search: true
		});

	</script>

</body>

</html>