<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
		integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<div th:replace="fragments/links :: cssLink"></div>





	<title>CensusForm</title>


	<style>
		.select2-container .select2-selection--single {
			height: 40px !important;

		}

		.select2-container--default .select2-selection--single {
			border: 1px solid #ccc !important;
			border-radius: 0px !important;
		}

		#sidebar ul li {
			color: white;
			display: block;
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>

</head>

<body>

	<div class="wrapper">
		<span th:remove="tag" th:utext="${dataHtml}"></span>
		<div class="container-fluid mw-100 py-2 h-100">
			<div th:replace="fragments/sidebar :: header"></div>

			<!--Start First Part -->

			<div class="card text-center">
				<form th:action="@{/DATA_ENTRY_LT}" method="post" th:object="${censusFormModel}">

												<div class="alert alert-success mt-4" role="alert" th:text="${msg}" th:if="${msg}"></div>

					
					<fieldset class="form-group text-left border p-3">
						<legend class="w-auto px-2"><strong>Consumer Census Entry</strong></legend>






						<div class="row  text-black">
							<label class="col-lg-1" for="location">Location &nbsp </label>
							<div class="col-md-2 mb-2 input-group search_select_box ">
								<select required name="LOCATION_CODE" id="locationOption"
									class="form-control search_select_box select_supplyType">
									<option th:each="location : ${dPD_LOCATION_LIST}"
										th:value="${location.LOCATION_CODE}"
										th:selected="${location.LOCATION_CODE}==${LOCATION_CODE}"
										th:text="${location.LOCATION_NAME}">
									</option>
								</select>
							</div>
							<label class="col-lg-1" for="supplyType">Zone &nbsp</label>
							<div class="col-md-1 mb-2">

								<div class="input-group">

									<input type="text" id="zone" name="ZONE" th:value="${SCD.ZONE}" readonly
										class="form-control form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-1" for="circle">Circle &nbsp</label>
							<div class="col-md-1 mb-4">

								<div class="input-group">




									<input type="text" id="circle" name="CIRCLE" readonly th:value="${SCD.CIRCLE}"
										class="form-control  form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-1" for="Div">Div &nbsp</label>
							<div class="col-md-1 mb-4">


								<div class="input-group">


									<input type="text" id="Div" name="DIVISION" readonly th:value="${SCD.DIVISION}"
										class="form-control form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-1" for="sub_div">Sub Div &nbsp</label>
							<div class="col-md-2 mb-4">

								<div class="input-group">

									<input type="text" id="sub_div" name="SUB_DIVISION" th:value="${SCD.SUB_DIVISION}"
										readonly class="form-control form-control-lg" />
								</div>

							</div>

							<label class="form-label col-lg-1 " for="book_no">Book No &nbsp</label>
							<div class="col-md-1 mb-4">

								<div class="input-group">

									<input type="text" id="book_no" class="form-control fcs form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-1" for="billGrp">BillGrp &nbsp</label>
							<div class="col-md-1 mb-4">

								<div class="input-group">

									<input type="text" id="billGrp" name="BILL_GRP" th:value="${SCD.BILL_GRP}" readonly
										class="form-control form-control-lg" />
								</div>

							</div>



							<label class=" col-lg-2" for="supplyType">Cons. Source &nbsp</label>
							<div class="col-3 mb-2 ">
								<select name="CONSUMER_STATUS" id="CONSUMER_STATUS" class="form-select form-select-sm"
									aria-label=".form-select-sm example">
									<option value="N" th:selected="${SCD.CONSUMER_STATUS =='N'} ">New consumers</option>

									<option value="L" th:selected="${SCD.CONSUMER_STATUS =='L'} ">Additional meter
									</option>
								</select>
							</div>


							<label class="form-label col-lg-1 " for="walkOrder">Walk. Order
								&nbsp</label>
							<div class="col-md-2 mb-4">

								<div class="input-group">


									<input type="text" required th:value="${SCD.WALKING_SEQUENCE}"
										name="WALKING_SEQUENCE" pattern=".{4,4}" id="walkOrder"
										class="form-control fcs form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-2 " for="conSrlNo">ConSrl No. &nbsp</label>
							<div class="col-md-2 mb-4">

								<div class="input-group">

									<input type="text" id="conSrlNo" required name="CONS_SRL_NO"
										th:value="${SCD.CONS_SRL_NO}" maxlength="4"
										class="form-control form-control-lg fcs" />
								</div>

							</div>
							<label class="col-lg-2" for="supplyType">Govt. Flat &nbsp</label>
							<div class="col-md-1 mb-4">
								<div class="input-group">
									<select name="CONSUMER_FLAG" class="form-select"
										aria-label="Default select example">
										<option value="0" selected>No</option>
										<option value="1">Yes</option>
									</select>
								</div>
							</div>
							<label class="form-label col-lg-2" for="oldAcNo">Old A/C No. &nbsp</label>
							<div class="col-md-2 mb-4">
								<div class="input-group">
									<input name="OLD_TRANS_CONNECTION_ID" type="text" id="oldAcNo"
										th:value="${SCD.OLD_TRANS_CONNECTION_ID}"
										class="form-control fcs form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-2" for="computerConsNo">Computer Cons No. &nbsp</label>
							<div class="col-md-2 mb-4">

								<div class="input-group">


									<input type="text" id="computerConsNo" name="" readonly
										class="form-control form-control-lg" />
								</div>

							</div>





						</div>

					</fieldset>

					<fieldset class="form-group text-left border p-3">
						<legend class="w-auto px-2"><strong>Customer Details</strong></legend>
						<div class="row  text-black">

							<label class="form-label col-lg-2" for="coustomerName">Customer Name &nbsp</label>
							<div class="col-md-10 mb-4">

								<div class="input-group">

									<input type="text" id="coustomerName" name="CUSTOMER_NAME"
										oninput="this.value = this.value.toUpperCase()" th:value="${SCD.CUSTOMER_NAME}"
										class="form-control fcs form-control-lg" />
								</div>

							</div>
							<label class="form-label col-lg-2" for="fatherHusband">Father/Husband Name:&nbsp</label>
							<div class="col-md-10 mb-4">

								<div class="input-group">

									<input type="text" id="fatherHusband" name="F_H_NAME" th:value="${SCD.F_H_NAME}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
								<label class="form-label col-lg-2" for="serviceAddress1">Service Address:
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="text" id="serviceAddress1" name="SERV_ADDR_DESCR1" th:value="${SCD.SERV_ADDR_DESCR1}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="mailingAddress1"> Address &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input  name="MAIL_ADDR_DESCR1" type="text" id="mailingAddress1" th:value="${SCD.MAIL_ADDR_DESCR1}"
										class="form-control  form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="serviceAddress2">
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="text" id="serviceAddress2" name="SERV_ADDR_DESCR2" th:value="${SCD.SERV_ADDR_DESCR2}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
								<label class="form-label col-lg-2" for="mailingAddress2">  &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input  name="MAIL_ADDR_DESCR2" type="text" id="mailingAddress2" th:value="${SCD.MAIL_ADDR_DESCR2}"
										class="form-control  form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="serviceAddress3">
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="text" id="serviceAddress3" name="SERV_ADDR_DESCR3" th:value="${SCD.SERV_ADDR_DESCR3}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							
						
							<label class="form-label col-lg-2" for="mailingAddress3">  &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input  name="MAIL_ADDR_DESCR3" type="text" id="mailingAddress3" th:value="${SCD.MAIL_ADDR_DESCR3}"
										class="form-control  form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="city">Mailing City &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="text" id="city" name="MAIL_CITY" th:value="${SCD.MAIL_CITY}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="cityReadOnly">Serv City &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="text" id="cityReadOnly" name="SERV_CITY" readonly th:value="${SCD.SERV_CITY}"
										class="form-control form-control-lg" />

								</div>
							</div>


							<label class="form-label col-lg-2" for="postalCode">Postal code &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="number" id="postalCode" name="MAIL_PIN_CODE" required min="1000"
										max="9999" th:value="${SCD.MAIL_PIN_CODE}"
										class="form-control fcs form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="postalCodeReadOnly">Postal code
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<input type="number" id="postalCodeReadOnly" readonly name="SERV_PIN_CODE"
										th:value="${SCD.SERV_PIN_CODE}" class="form-control  form-control-lg" />
								</div>
							</div>
							<label class="form-label col-lg-2" for="BankCode(1)">Bank Code(1)
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">
									<select name="BANK_CODE" id="BankCode_1" class="form-control select_tariff">
										<option value="">Select code </option>
										<option th:each="code : ${listeff_BC_BANKS}" th:value="${code.BANK_CODE}"
											th:text="${code.BANK_CODE}+'-'+${code.BANK_NAME}"
											th:selected="${code.BANK_CODE}==${SCD.BANK_CODE}">
										</option>
									</select>
								</div>
							</div>

							<label class="form-label col-lg-2" for="branchCode(1)">Branch Code(1)
								&nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">
									<select name="BRANCH_CODE" id="branchCode_1" class="form-control select_tariff">
										<option value="null">Select code </option>
										<option th:each="code : ${listOf_BRANCH_CODE}" th:value="${code.BRANCH_CODE}"
											th:selected="${code.BRANCH_CODE}==${SCD.BRANCH_CODE}"
											th:text="${code.BRANCH_CODE}+'-'+${code.BRANCH_NAME}">
										</option>
									</select>
								</div>
							</div>
							<label class="form-label col-lg-2" for="BankCode(2)">Bank Code(2) &nbsp</label>
							<div class="col-md-4 mb-4">

								<div class="input-group">

									<select name="BANK_CODE_1" id="BankCode_2" class="form-control select_tariff">
										<option value="">Select code </option>
										<option th:each="code : ${listeff_BC_BANKS}" th:value="${code.BANK_CODE}"
											th:text="${code.BANK_CODE}+'-'+${code.BANK_NAME}"
											th:selected="${code.BANK_CODE}==${SCD.BANK_CODE_1}">
										</option>
									</select>
								</div>
							</div>
							<label class="form-label col-lg-2" for="branchCode(2)">Branch Code(2)
								&nbsp</label>
							<div class="col-md-4 mb-4">
								<div class="input-group">
									<select name="BRANCH_CODE_1" id="branchCode_2" class="form-control select_tariff">
										<option value="null">Select code </option>

										<option th:each="code : ${listOf_BRANCH_CODE2}" th:value="${code.BRANCH_CODE}"
											th:selected="${code.BRANCH_CODE}==${SCD.BRANCH_CODE_1}"
											th:text="${code.BRANCH_CODE}+'-'+${code.BRANCH_NAME}">
										</option>
									</select>
								</div>
							</div>
							<input type="hidden" name="CUST_INT_ID" id="CUST_INT_ID" th:value="${SCD.CUST_INT_ID}"
								class="form-control fcs form-control-lg" />

							<div class="col-12 text-right">
								<div class="btn-group border-black " style="display: inline;" role="group"
									aria-label="Basic example">
									<button type="button" class="btn btn-primary"
										th:onclick="|window.location.href='/meterDetailsForm'|">MeterDetails</button>
									<a th:href="@{'/' + ${URL}+'/' + ${SCD.CUST_INT_ID}}" id="updateButton"
										class="btn btn-success  text-right">Distribution</a>
									<button type="submit" id="uptdBtn" class="btn btn-info">Update</button>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>











	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>

	<script>


		$('.select_supplyType').select2();


	</script>



	<!-- 		location dropdown starts  -->
	<script>

		$("#locationOption").change(function () {
			var x = $("#locationOption").val();
			var url = "/api/location/" + x;
			console.log(url);
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const zone = JsonData.zone;
					const sub_DIV = JsonData.sub_DIV;
					const div = JsonData.div;
					const circle = JsonData.circle;

					document.getElementById("zone").value = zone;
					document.getElementById("sub_div").value = sub_DIV;
					document.getElementById("Div").value = div;
					document.getElementById("circle").value = circle;

				});
		});



	</script>
	<script>

		$("#book_no").change(function () {
			var bid = $("#book_no").val();
			var lid = $("#locationOption").val();
			var url = "/api/billGrp/" + lid + "/" + bid;
			console.log(url);
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					document.getElementById("billGrp").value = JsonData;
				});
		});


	</script>
	<script>

		$("#CONSUMER_STATUS").change(function () {
			var consumer_STATUS = $("#CONSUMER_STATUS").val();

			if (consumer_STATUS == "L") {
				$("#computerConsNo").prop("readonly", false);

			}
			else {
				$("#computerConsNo").prop("readonly", true);
				const input = document.getElementById('computerConsNo');
				console.log(input)
				input.value = '';
			}

		});


	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var msg = [[${msg}]];
		var flag = [[${flag}]];

		if (flag == 2) {
			var button = document.getElementById('uptdBtn');
			button.innerHTML = "Save";
			button.style.background = "#00004d";
			//alert(msg);
		}
		else if (flag == 1) {
			var button = document.getElementById('uptdBtn');
			button.innerHTML = "Update";
			button.style.background = "#00004d";
			//alert(msg);
		}

		/*]]>*/
	</script>

	<script>
		$(document).ready(function () {
			$("#serviceAddress").keyup(function () {
				var serviceAddress = document.getElementById('serviceAddress').value;
				document.getElementById("mailingAddress").value = serviceAddress;
			});
		});
		$(document).ready(function () {
			$("#city").keyup(function () {
				var serviceAddress = document.getElementById('city').value;
				document.getElementById("cityReadOnly").value = serviceAddress;
			});
		});
		$(document).ready(function () {
			$("#postalCode").keyup(function () {
				var serviceAddress = document.getElementById('postalCode').value;
				document.getElementById("postalCodeReadOnly").value = serviceAddress;
			});
		});
	</script>
	<script src=https://code.jquery.com/jquery-3.6.0.slim.min.js></script>
	<script src="../../../../js/jquery.fcs.js"></script>
	<script src="../../../../js/jquery.fcs.min.js"></script>

	<script>

		jQuery(document).ready(function ($) {
			$("#first-element").focus();
			$(document).fcs(".fcs");




		});
	</script>


<script>
		$(document).ready(function () {
			$("#BankCode_1").change(function () {

				$("#branchCode_1").empty();



				var x = $("#BankCode_1").val();

				if (x == "") {
					$("#branchCode_1").empty();
					$("<option>").val("").text("Select branchCode").appendTo(branchCodeDropdown);
				}
				else {

					var urlString = "/api/branch/" + x;
					console.log(urlString);

					$.ajax({
						method: "GET",
						url: urlString
					})
						.done(function (responseJson) {

							branchCodeDropdown = $("#branchCode_1");

							$("<option>").val("").text("Select branchCode").appendTo(branchCodeDropdown);
							$.each(responseJson, function (index, branchCode) {

								$("<option>").val(branchCode.branch_CODE).text(branchCode.branch_CODE + '-' + branchCode.branch_NAME).appendTo(branchCodeDropdown);
							});
						})
						.fail(function () {
							alert("Connection Error");
						})
				}


			})



			$("#BankCode_2").change(function () {

				$("#branchCode_2").empty();



				var x = $("#BankCode_2").val();

				if (x == "") {
					$("#branchCode_2").empty();
					$("<option>").val("").text("Select branchCode").appendTo(branchCodeDropdown);
				}
				else {

					var urlString = "/api/branch/" + x;
					console.log(urlString);

					$.ajax({
						method: "GET",
						url: urlString
					})
						.done(function (responseJson) {

							branchCodeDropdown = $("#branchCode_2");

							$("<option>").val("").text("Select branchCode").appendTo(branchCodeDropdown);
							$.each(responseJson, function (index, branchCode) {

								$("<option>").val(branchCode.branch_CODE).text(branchCode.branch_CODE + '-' + branchCode.branch_NAME).appendTo(branchCodeDropdown);
							});
						})
						.fail(function () {
							alert("Connection Error");
						})
				}


			})




		});
	</script>



	<!-- 		location dropdown ends  -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
		integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>