<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<div th:replace="fragments/links :: cssLink"></div>

	<title>MeterDetailsForm</title>

	<style>
		.select2-container .select2-selection--single {
			height: 40px !important;

		}

		.select2-container--default .select2-selection--single {
			border: 1px solid #ccc !important;
			border-radius: 0px !important;
		}


		.fixTableHead {
			overflow-y: auto;
			height: 200px;
		}

		.fixTableHead thead th {
			position: sticky;
			top: 0;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			padding: 8px 15px;

		}

		th {
			background: #fff;
		}
	</style>



</head>

<body>

 <div class="wrapper">
    <span th:remove="tag" th:utext="${dataHtml}"></span>
	<div class="container-fluid mw-100 py-2 h-100">
		<div th:replace="fragments/sidebar :: header"></div>

		<!--Start First Part -->

		<div class="card text-center">

			<fieldset class="form-group text-left border p-3">
				<legend class="w-auto px-2"><strong>DistributionForm</strong></legend>
				<div class="row">
					<label class="col-lg-1" for="supplyType">Supply Type</label>
					<div class="col-3 mb-2 supTyp_list">
						<div class="input-group search_select_box ">
							<select name="supTyp_list" id="supTyp_list" class="form-control select_supplyType">
								<option selected>--Supply Type--</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
					<label class="col-lg-2" for="fedderNo">Trs ID No/Fedder No</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">
							
							<input type="number" class="form-control" name="fedderNo" id="fedderNo">

						</div>

					</div>
					<label class="col-lg-2" for="fedderSectionId">Trx Mfg.No./Fedder Section
							id &nbsp</label>
					<div class="col-lg-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="fedderSectionId" id="fedderSectionId">

						</div>

					</div>
					<label class="col-md-1" for="phaseType">Phase Type &nbsp</label>
					<div class="col-lg-3 mb-2 supTyp_list">
						<div class="input-group search_select_box ">
							<select name="phaseType" id="phaseType" class="form-control select_phaseType">
								<option selected>--Phase Type--</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>

					<label class="col-lg-2" for="phaseConnect">Phase Connect
						&nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="phaseConnect" readonly id="phaseConnect">

						</div>

					</div>
					<label class="col-lg-2" for="meterSide">Meter Side &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="meterSide" id="meterSide">

						</div>

					</div>
					<label class="col-lg-1" for="saveConnTp">Save Conn. Tp &nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="saveConnTp" id="saveConnTp">

						</div>

					</div>
					<label class="col-lg-2" for="serviceDropLength">Service Drop Length(in
							Meter) &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="serviceDropLength" id="serviceDropLength">

						</div>

					</div>

					<label class="col-lg-2" for="serviceDropSize">Service Drop Size
						&nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="serviceDropSize" id="serviceDropSize">

						</div>

					</div>
					<label class="col-lg-1" for="33kvSubStn">33 KV Sub Stn &nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="33kvSubStn" id="33kvSubStn">

						</div>

					</div>
					<label class="col-lg-2" for="11kvSubStn">11 KV Sub Stn &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="11kvSubStn" id="11kvSubStn">

						</div>

					</div>
					<label class="col-lg-2" for="poleNumber">Pole Number &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="poleNumber" id="poleNumber">

						</div>

					</div>
					<label class="col-lg-1" for="sanctionedLoad">Sanctioned Load
						&nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="sanctionedLoad" id="sanctionedLoad">

						</div>

					</div>
					<label class="col-md-2" for="tariff">Tariff &nbsp</label>
					<div class="col-lg-2 mb-2 supTyp_list">
						<div class="input-group search_select_box ">
							<select name="tariff" id="tariff" class="form-control select_tariff">
								<option selected>--Phase Type--</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
					<label class="col-lg-2" for="monthlyConsumption">Monthly Likely
							Consumption &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="monthlyConsumption" id="monthlyConsumption">

						</div>

					</div>
					<label class="col-lg-1" for="connectedLoad">Connected Load
						&nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="connectedLoad" id="connectedLoad">

						</div>

					</div>
					<label class="col-lg-2" for="typOfBusiness">Type of Business
						&nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="typOfBusiness" id="typOfBusiness">

						</div>

					</div>
					<label class="col-lg-2" for="status">Status &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="status" id="status">

						</div>

					</div>
					<label class="col-lg-1" for="secDeposit">Sec. Deposit &nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="secDeposit" id="secDeposit">

						</div>

					</div>
					<label class="col-lg-2" for="cookFuelType">Cook Fuel Type&nbsp</label>
					<div class="col-lg-2 mb-2 cookFuelType">
						<div class="input-group search_select_box ">
							<select name="cookFuelType" id="cookFuelType" class="form-control selectcookFuelType">
								<option selected>--Select--</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
					<label class="col-lg-2" for="splConsCode">SPL Cons. Code
						&nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="number" class="form-control" name="splConsCode" id="splConsCode">

						</div>

					</div>
					<label class="col-lg-1" for="assoMtrNo">Asso. Mtr No &nbsp</label>
					<div class="col-md-3 mb-2">

						<div class="input-group">

							<input type="text" class="form-control" name="assoMtrNo" readonly id="assoMtrNo">

						</div>

					</div>
					<label class="col-lg-2" for="rule">Rule &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="text" class="form-control" name="rule" readonly id="rule">

						</div>

					</div>
					<label class="col-lg-2" for="value">Value &nbsp</label>
					<div class="col-md-2 mb-2">

						<div class="input-group">

							<input type="text" class="form-control" name="value" id="value">

						</div>

					</div>
					<div class="col-12 text-right">
						<div class="btn-group border-black " style="display: inline;" role="group"
							aria-label="Basic example">

							<button type="button" class="btn btn-primary"
								th:onclick="|window.location.href='/meterDetailsForm'|">Meter
								Details</button>
							<button type="button" class="btn btn-primary">X-F Details</button>
							<button type="button" th:onclick="|window.location.href='/CensusEntryForm'|"
								class="btn btn-primary">Consumer</button>

						</div>
					</div>

				</div>
			</fieldset>
		</div>


        <legend class="w-auto px-2"> <strong>TOD Details</strong></legend>
		<div class="row fixTableHead">
			<div class="col-12">
				<fieldset class="form-group border p-3">
					

					<table class="table table-striped table-bordered ">
						<thead>
							<tr>
								<th scope="col">X-F Mfg No.</th>
								<th scope="col">X-F Identification NO.</th>
								<th scope="col">Owner</th>
								<th scope="col">Capacity</th>
								<th scope="col">Rating</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- <th scope="row">1</th> -->
                                <td>1</td>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
								<td>Mark</td>


							</tr>
							<tr>
								<!-- <th scope="row">2</th> -->
                                <td>2</td>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
								<td>Mark</td>

							</tr>
							<tr>
								<!-- <th scope="row">3</th> -->
                                <td>3</td>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
								<td>Mark</td>

							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
		</div>
	</div>

  </div>

	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>
	<script>



		$('.select_phaseType').select2();
		$('.select_supplyType').select2();
		$('.select_tariff').select2();
		$('.selectcookFuelType').select2();


	</script>



</body>

</html>