<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
		integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<div th:replace="fragments/links :: cssLink"></div>


	<title>CensusForm</title>


	<style>
		.select2-container .select2-selection--single {
			height: 40px !important;

		}

		.select2-container--default .select2-selection--single {
			border: 1px solid #ccc !important;
			border-radius: 0px !important;
		}

		#sidebar ul li {
			color: white;
			display: block;
		}
	</style>

</head>

<body>
	<div class="wrapper">
		<span th:remove="tag" th:utext="${dataHtml}"></span>
		<div class="container-fluid mw-100 py-2 h-100">
			<div th:replace="fragments/sidebar :: header"></div>
			<!--Start First Part -->
			<div class="card text-center">
				<fieldset class="form-group text-left border p-3">
					<legend class="w-auto px-2">Details</legend>
					<div class="row  text-black">
						<label class="form-label col-lg-2" for="REF_NO"><strong>REF NO</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="REF_NO" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="REF_DATE"><strong>REF_DATE</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="REF_DATE" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="CONSUMER_NUM"><strong>CONS. NO</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="CONSUMER_NUM" class="form-control form-control-lg" />
							</div>
						</div>

						<label class="form-label col-lg-2" for="LOCATION_CODE"><strong>LOCATION</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="LOCATION_CODE" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="BILL_GR"><strong>BILL GRP</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="BILL_GR" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="BOOK_NO"><strong>BOOK</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="BOOK_NO" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="CHECK_DIGIT"><strong>CHK DIGIT</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="CHECK_DIGIT" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="CUST_ID"><strong>CUST ID</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="CUST_ID" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="EFF_BILL_CYCLE_CODE"><strong>EFF BILL CYCLE</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="EFF_BILL_CYCLE_CODE" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="REMARKS"><strong>REMARKS</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="REMARKS" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="ADJ_FLAG"><strong>ADJ FLAG</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="ADJ_FLAG" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="ENL_BILL_CYCLE_CODE"><strong>ENL BILL CYCLE</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="ENL_BILL_CYCLE_CODE"
									class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="NET_CUST_NUM"><strong>NET CONS NO</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="NET_CUST_NUM" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="NET_CONS_NAME"><strong>NET CONS NAME</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="NET_CONS_NAME" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="NET_CUST_CHECK_DIGIT"><strong>NET CHK DIGIT</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="NET_CUST_CHECK_DIGIT"
									class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="NET_CUST_ID"><strong>NET CUST ID</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input readonly type="text" id="NET_CUST_ID" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="EXP_BILL_CYCLE"><strong>EXP BILL CYCLE</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="EXP_BILL_CYCLE" class="form-control form-control-lg" />
							</div>
						</div>
						<label class="form-label col-lg-2" for="NET_CAPACITY"><strong>NET CAPACITY</strong>
							&nbsp</label>
						<div class="col-lg-2 ">
							<div class="input-group">
								<input type="text" id="NET_CAPACITY" class="form-control form-control-lg" />
							</div>
						</div>

					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>
	<script>


		$('.search_select_box_location').select2();


	</script>
	<script>

		$("#CONSUMER_NUM").change(function () {
			var x = $("#CONSUMER_NUM").val();
			var url = "/api/locationAddMeter/" + x;
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const LOCATION_CODE = JsonData.location_CODE;
					const BILL_GR = JsonData.bill_GR;
					const BOOK_NO = JsonData.book_NO;
					const CHECK_DIGIT = JsonData.check_DIGIT;
					const CUST_ID = JsonData.cust_ID;
					document.getElementById("LOCATION_CODE").value = LOCATION_CODE;
					document.getElementById("BILL_GR").value = BILL_GR;
					document.getElementById("BOOK_NO").value = BOOK_NO;
					document.getElementById("CHECK_DIGIT").value = CHECK_DIGIT;
					document.getElementById("CUST_ID").value = CUST_ID;
				});
		});
	</script>
	<script>

		$("#NET_CUST_NUM").change(function () {
			var x = $("#NET_CUST_NUM").val();
			var url = "/api/locationAddMeterNet/" + x;
			$.ajax({
				method: "GET",
				url: url
			})
				.done(function (JsonData) {
					const NET_CONS_NAME = JsonData.net_CONS_NAME;
					
					const CHECK_DIGIT = JsonData.check_DIGIT;
					const CUST_ID = JsonData.cust_ID;
					document.getElementById("NET_CONS_NAME").value = NET_CONS_NAME;				
					document.getElementById("NET_CUST_CHECK_DIGIT").value = CHECK_DIGIT;
					document.getElementById("NET_CUST_ID").value = CUST_ID;
				});
		});
	</script>
	<script>
		$(document).ready(function () {
			$("#EFF_BILL_CYCLE_CODE").change(function () {
				var str = $("#EFF_BILL_CYCLE_CODE").val();
				document.getElementById("ENL_BILL_CYCLE_CODE").value = str;
			});
		});
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
		integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>