<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<div th:replace="fragments/links :: cssLink"></div>


	<title>MeterDetailsForm</title>

	<style>
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>




</head>

<body>

	<div class="wrapper">
		<span th:remove="tag" th:utext="${dataHtml}"></span>
		<div class="container-fluid mw-100 py-2 h-100">
			<div th:replace="fragments/sidebar :: header"></div>

			<!--Start First Part -->




			<legend class="w-auto px-2">TOD Details</legend>
			<div class="row fixTableHead">
				<form class="content h-50 d-inline-block" method="post" th:object="${TOD}">
					<div class="col-lg-12">
						<fieldset class="form-group border p-3">

							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th scope="col">TOD</th>
										<th scope="col">Time Cycle</th>
										<th scope="col">Reading Type</th>
										<th scope="col">Reading</th>
										<th scope="col">Reading Dt</th>
										<th scope="col">Cum No</th>
										<th scope="col">Power Fctr</th>
										<th scope="col">Purpose Of Reading</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list,iterStatus : ${TOD}">
										<input type="hidden" name="TOD_ID" th:value="${list.TOD_ID}">

										<td th:text="${list.TOD_DESC}"><input type="hidden"
												th:id="'TOD_CODE_'+${iterStatus.index}" name="TOD_CODE"
												th:value="${list.TOD_CODE}"></input></td>
										<td th:text="${list.DESCR}"><input type="hidden"
												th:id="'TIME_CYCLE_CODE_'+${iterStatus.index}" name="TIME_CYCLE_CODE"
												th:value="${list.TIME_CYCLE_CODE}"></input></td>
										<td th:text="${list.READING_DESCR}"><input type="hidden"
												th:id="'READING_TYPE_CODE_'+${iterStatus.index}"
												name="READING_TYPE_CODE" th:value="${list.READING_TYPE_CODE}"></input>
										</td>
										<td><input type="text" th:id="'READING_'+${iterStatus.index}" name="READING"
												th:value="${list.READING}"></input></td>
										<td><input type="text" th:id="'READING_DATE_'+${iterStatus.index}"
												name="READING_DATE" maxlength="10"
												th:value="${list.READING_DATE != null} ? ${#strings.substring(list.READING_DATE, 0, #strings.length(list.READING_DATE)-11)}: ${list.READING_DATE}"></input>
										</td>
										<td th:text="${list.CUM_NUM}"></td>
										<td th:text="${list.POWER_FACTOR}"></td>
										<td th:text="${list.PURPOSE_OF_RDNG}"></td>

									</tr>
									


								</tbody>

							</table>
							<div class="col-12 text-right">
								<div class="btn-group border-black " style="display: inline;" role="group"
									aria-label="Basic example">
									<button type="button" class="btn btn-lg btn-success mr-1 mb-1" data-toggle="modal"
										data-target="#myModal">Save</button>
								</div>
							</div>

							
<div class="alert alert-success mt-4" role="alert" th:text="${msgs}" th:if="${msgs}"></div>
							<div class="alert alert-danger mt-4" role="alert" th:text="${msg}" th:if="${msg}"></div>
						</fieldset>
					</div>

					<div class="row form-inline" style="margin-left: 450px;">
						<!-- Modal HTML -->
						<div id="myModal" class="modal fade ">
							<div class="modal-dialog modal-confirm">
								<div class="modal-content">
									<div class="modal-header flex-column">
										<h4 class="modal-title w-100">Are you sure?</h4>
										<a type="button" class="btn-close" data-dismiss="modal"
											aria-hidden="true">&times;</a>
									</div>
									<div class="modal-body">
										<p>Do you really want to Save these records?</p>
									</div>
									<div class="modal-footer justify-content-center" style="border: none;">
										<a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>

										<input class="btn btn-danger" name="save" id="save" type="submit"
											th:formaction="@{'/initialReadingSave'}" value="Yes">
									</div>
								</div>
							</div>
						</div>
						<!--     Modal HTML Ends -->
					</div>
				</form>
			</div>
		</div>
	</div>



	<div th:replace="fragments/links :: javaScriptLink"></div>

</body>
<script>
	function myFunction() {
		console.log("123");
	}
</script>

</html>