<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<div th:replace="fragments/links :: cssLink"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	



	<title>Login</title>

	<style>
		.btn-color {
			background-color: #0e1c36;
			color: #fff;

		}

		.btn:hover {
			color: white;
			font-size: 20px;
		}

		.profile-image-pic {
			height: 200px;
			width: 200px;
			object-fit: cover;
		}



		.cardbody-color {
			background-color: #ebf2fa;
		}

		a {
			text-decoration: none;
		}
	</style>


</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<!--<div class="alert alert-danger mt-3" role="alert">
					This is a danger alert—check it out!
				</div>-->

				<div class="alert alert-danger mt-4" role="alert" th:text="${msg}" th:if="${msg}"></div>
				<div class="card my-5">

					<form class="card-body cardbody-color p-lg-3 login" id="login" method="post" action="#" th:action="@{/}"
						th:object="${login}">

						<div class="text-center">
							<img src="../img/DPDC.png"
								class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
								alt="profile">
						</div>

						<div class="mb-3">
							<input type="text" class="form-control" th:value="*{USER_NAME}" id="Username"
								aria-describedby="emailHelp" name="USER_NAME" placeholder="User Name">
						</div>
						<div class="mb-3">
							<input type="password" name="USER_PASSWORD" th:value="*{USER_PASSWORD}" class="form-control"
								id="password" placeholder="password">
						</div>
						<div class="text-center"><button type="submit"
								class="btn btn-color px-5 mb-5 w-100">Login</button>
								 </br> 
								</div>
						<div id="emailHelp" class="form-text text-center mb-5 text-dark" ><p style="color: red;"><i>Powered by</i></p> 
							 <div> <img src="../img/itbt.jfif" alt="picture not available" width="250" height="60"></div>
						</div>
					</form>

					<!--//Run After Jquery Action-->

					<div class="passwordReset" style="display:none;">

					<form class="card-body cardbody-color p-lg-5 " id="passwordReset"  method="post"
						action="#" th:action="@{/}" th:object="${login}">

						<div class="text-center">
							<img src="../img/DPDC.png"
								class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
								alt="profile">
						</div>

						<div class="mb-3">
							<input type="text" class="form-control"  aria-describedby="emailHelp" name=""
								placeholder="Old password">
						</div>
						<div class="mb-3">
							<input type="text" name="pass" class="form-control"  placeholder="New password">
						</div>
						<div class="text-center"><button type="submit"
								class="btn btn-color px-5 mb-5 w-100">Save</button></div>

					</form>


</div>

				</div>

			</div>
		</div>
	</div>

	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>


</body>

</html>