<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<div th:replace="fragments/links :: cssLink"></div>

	<title>Login</title>

	<style>
		.btn-color {
			background-color: #0e1c36;
			color: #fff;

		}

		.btn:hover {
			color: white;
			font-size: 20px;
		}

		.profile-image-pic {
			height: 200px;
			width: 200px;
			object-fit: cover;
		}



		.cardbody-color {
			background-color: #ebf2fa;
		}

		a {
			text-decoration: none;
		}
	</style>


</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<!--<div class="alert alert-danger mt-3" role="alert">
					This is a danger alert—check it out!
				</div>-->

				<div class="alert alert-danger" role="alert" th:text="${msg}" th:if="${msg}"></div>
				<div class="card my-5">

					<form class="card-body cardbody-color p-lg-5" method="post" action="#" th:action="@{/}"
						th:object="${login}">

						<div class="text-center">
							<img src="../img/DPDC.png"
								class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
								alt="profile">
						</div>

						<div class="mb-3">
							<input type="text"  class="form-control"  th:value="*{USER_NAME}" id="Username" aria-describedby="emailHelp"
								name="USER_NAME" placeholder="User Name">
						</div>
						<div class="mb-3">
							<input type="password" name="USER_PASSWORD" th:value="*{USER_PASSWORD}" class="form-control" id="password" placeholder="password">
						</div>
						<div class="text-center"><button type="submit"
								class="btn btn-color px-5 mb-5 w-100">Login</button></div>
						<div id="emailHelp" class="form-text text-center mb-5 text-dark">Made by IT Bangla ltd.
							Developer </br> <a href="#" class="text-blue fw-bold">Reset password</a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- JavaScript -->
	<div th:replace="fragments/links :: javaScriptLink"></div>

</body>

</html>